<section id="page-vault" class="page-section">
  <div class="vault-page">
    <div class="vault-bg" style="background-image: url('<%= book.hero_image_path ? imageUrl(book.hero_image_path) : '' %>');"></div>
    <div class="vault-content">
      <div class="vault-icon">&#128274;</div>
      <div class="vault-eyebrow">&#10022; <%= t('vault.eyebrow') %></div>
      <h2 class="vault-title"><%= t('vault.title_pre') %><br><em><%= t('vault.title_em') %></em></h2>
      <p class="vault-text"><%= t('vault.text_p1') %><br><br><%= t('vault.text_p2') %></p>
      <div class="vault-countdown">
        <div class="vault-countdown-label"><%= t('vault.unlocks_in') %></div>
        <div class="countdown-digits" id="countdownDigits">
          <div class="countdown-unit">
            <span class="countdown-num" id="cdYears">--</span>
            <div class="countdown-unit-label"><%= t('vault.years') %></div>
          </div>
          <div class="countdown-unit">
            <span class="countdown-num" id="cdMonths">--</span>
            <div class="countdown-unit-label"><%= t('vault.months') %></div>
          </div>
          <div class="countdown-unit">
            <span class="countdown-num" id="cdDays">--</span>
            <div class="countdown-unit-label"><%= t('vault.days') %></div>
          </div>
        </div>
      </div>
      <div class="vault-seal">
        <span>&#128274;</span>
        <span><%= t('vault.seal', { brand: 'Legacy Odyssey' }) %></span>
      </div>
    </div>
  </div>
</section>
